<!--{% extends 'basic.html' %}-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/document.css' %}" type="text/css">

{% block title %} Documents {% endblock title %}

{% block content %}
<style>

/*MAIN*/
.documents_page {
	background: white;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 80%;
	height: 70%;
	border-radius: 25px;
}

#nbar {
	background: #566F9E;
	color: rgb(13, 26, 38);
	position: fixed;
	top: 0;
	height: 60px;
	line-height: 60px;
	width: 80vw;
	border-radius: 25px 25px 0 0;
}


#nbar ul {
  display: block;
  float: left;
  list-style: none;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #nbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #nbar ul {
        display: inline-block;
      }
    }

#nbar li {
  display: inline-block;
}


#nbar li a {
  color: white;
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.main_content {
    margin: 100px;
}

#text{
    color: red;
}
</style>
    <section class="documents_page">
        <div>
            <nav id="nbar" class="">
                <ul id="menu">
                    <li><a href="">Протокол 1</a></li>
                    <li><a href="">Протокол 2</a></li>
                    <li><a href="">Протокол 3</a></li>
                </ul>
            </nav>
            <div class="main_content">
                {% if students %}
                    {% for i in students %}
                        <div>
                            <a href="{% static 'invite.docx' %}" download="invitation.docx" target="_blank">{{ i.name }} {{ i.lastname}}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </section>


{% endblock content %}
